<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo_list</title>
    <style>
      .drag-area {
        border: 2px solid #000000;
      }
    </style>
  </head>

  <body>
    <div class="filters" id="todo">
      <ul v-on:drop="drop" v-on:dragover="allowDrop">
        完了
        <li
          v-for="todoItem in todoItems"
          v-show="todoItem.done"
          v-bind:draggable=true
          v-bind:id="todoItem.id"
          v-on:dragstart="drag"
        >
          {{ todoItem.id }} / {{ todoItem.content }} / {{ todoItem.done }}
        </li>
      </ul>

      <ul v-on:drop="drop" v-on:dragover="allowDrop">
        未完了
        <li
          v-for="todoItem in todoItems"
          v-show="!todoItem.done"
          v-bind:draggable=true
          v-bind:id="todoItem.id"
          v-on:dragstart="drag"
        >
          {{ todoItem.id }} / {{ todoItem.content }} / {{ todoItem.done }}
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      "use strict";
      var obj = {
        el: "#todo",
        data: {
          todoItems: [
            { id: "data1", content: "歯を磨く", done: true },
            { id: "data2", content: "皿を洗う", done: false },
            { id: "data3", content: "お風呂に入る", done: false }
          ]
        },
        methods: {
          allowDrop: function(ev) {
            ev.preventDefault();
          },
          drag: function(ev) {
            ev.dataTransfer.setData("drag-id", ev.target.id);
          },
          drop: function(ev) {
            ev.preventDefault();
            let drag_id = ev.dataTransfer.getData("drag-id");
            let todoItem = this.todoItems.find(item => item.id === drag_id);
            todoItem.done = todoItem.done ? false : true;
          },
        },
        computed: {}
      };
      var vm = new Vue(obj);
    </script>
  </body>
</html>
