<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" id="todo">
      <!-- 絞り込みラジオボタン -->
      <label v-for="(item, index) in status">
        <input type="radio" v-bind:value="item" />{{ item }}
      </label>
      <section class="panel">
        <input type="search" list="list" v-model="memberName" />
        <datalist id="list">
          <option v-for="member in members" v-bind:value="member.name">
          </option>
        </datalist>

        <input type="text" class="text-input" v-model="inputTitle" />
        <input type="text" class="text-input" v-model="inputText" />
        <!-- <button v-on:click="addTodo">追加</button> -->
        <button @click="addTodo">追加</button>
        <button v-on:click="selectedDelete()">選択済みの要素削除</button>
      </section>

      <ul v-for="member in members">
        {{ member.name }}
        <li v-for="(todo, index) in todos" v-if="todo.member_id === member.id">
          <!-- <template> -->
            <input type="checkbox" class="checkbox" v-model="todo.checked" />
            <label for="checkbox">{{ todo.text }}</label>
            <button v-on:click="changeStatus">{{ todo.status }}</button>
            <button class="delete" v-on:click="deleteTodo(member, index)">
              X
            </button>
        <!-- </template> -->
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="matsuda_main.js"></script>
  </body>
</html>
