<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" id="todo">
      <!-- 絞り込みラジオボタン -->
      <label v-for="(item, index) in status">
        <input type="radio" v-bind:value="item" />{{ item }}
      </label>
      <section class="panel">
        <input type="search" list="list" v-model="memberName" />
        <datalist id="list">
          <option v-for="member in members" v-bind:value="member.name">
          </option>
        </datalist>

        <input type="text" class="text-input" v-model="inputTitle" />
        <input type="text" class="text-input" v-model="inputText" />
        <!-- <button v-on:click="addTodo">追加</button> -->
        <button @click="addTodo">追加</button>
        <button v-on:click="selectedDelete()">選択済みの要素削除</button>
      </section>

      <ul v-for="member in members">
        {{ member.name }}
        <li v-for="(todo, index) in todos" v-if="todo.member_id === member.id">
          <!-- <template> -->
            <input type="checkbox" class="checkbox" v-model="todo.checked" />
            <label for="checkbox">{{ todo.text }}</label>
            <button v-on:click="changeStatus">{{ todo.status }}</button>
            <button class="delete" v-on:click="deleteTodo(member, index)">
              X
            </button>
        <!-- </template> -->
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#todo",
        data: {
          memberName: "",
          inputTitle: "タイトル(仮)",
          inputText: "テキストを入力する",
          status: {
            0: "すべて",
            1: "作業中",
            2: "完了"
          },
          current: { 0: "すべて" },
          members: [
            { id: 1, name: "部長" },
            { id: 2, name: "課長" },
            { id: 3, name: "主任" },
            { id: 4, name: "係長" }
          ],
          todos: [
            {
              title: "人事評価",
              text: "給与の査定",
              checked: false,
              status: 0,
              member_id: 1
            },
            {
              title: "面接",
              text: "田中さん",
              checked: false,
              status: 0,
              member_id: 3
            },
            {
              title: "役員会議資料作成",
              text: "決算",
              checked: false,
              status: 0,
              member_id: 2
            },
            {
              title: "人事評価",
              text: "給与の査定",
              checked: false,
              status: 0,
              member_id: 3
            },
            {
              title: "進捗報告1",
              text: "Aプロジェクト",
              checked: false,
              status: 0,
              member_id: 4
            },
            {
              title: "エクセル作成",
              text: "整理する",
              checked: false,
              status: 0,
              member_id: 2
            }
          ]
        },
        methods: {
          addTodo: function() {
            let member = this.members.find(
              member => member.name == this.memberName
            );
            member.todos.push({
              title: this.inputTitle,
              text: this.inputText,
              status: 0
            });
          },
          deleteTodo: function(del_member, del_index) {
            if (confirm("Todoを削除しますか？")) {
              del_member.todos.splice(del_index, 1);
            }
          },
          addTodo2: function() {
            console.log("tittle 追加");
            // if (this.todos === undefined) alert("error")
            this.tittles.push({ search: this.inputText2 });
          },
          selectedDelete: function() {
            // Object.keys(this.members).forEach(function (member) {
            //   console.log(member);
            // });
            // let selectedMembers = this.members.filter(member => member.todos.checked === true)
            // console.log(selectedMembers)
            // let selectedMembers = []
            // this.members.forEach(member => {
            //   member.todos = member.todos.filter(todo => todo.checked === true)
            //   }
            // }
            // }
            this.members.forEach(memeber => {
              memeber.todos = memeber.todos.filter(
                todo => todo.checked == false
              );
            });
          },
          changeStatus: function() {}
        }
      });
    </script>
  </body>
</html>
