<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>todo管理ツール</h1>
    <div class="container" id="todo">
      <!-- 絞り込みラジオボタン -->
      <label v-for="(item, index) in status_options">
        <input type="radio" v-bind:value="item" />{{ item.label }}
      </label>
      <section class="panel">
        <input type="search" list="list" v-model="memberName" />
        <datalist id="list">
          <option v-for="member in members" v-bind:value="member.name">
          </option>
        </datalist>

        <input type="text" class="text-input" v-model="inputTitle" />
        <input type="text" class="text-input" v-model="inputText" />
        <!-- <button v-on:click="addTodo">追加</button> -->
        <button @click="addTodo">追加</button>
        <button @click="selectedDelete()">選択済みの要素削除</button>
      </section>

      <ul v-for="member in members">
        {{ member.name }}
        <li v-for="(task, index) in tasks" v-if="task.member_id === member.id">
          <!-- <template> -->
            <input type="checkbox" class="checkbox" v-model="task.checked" />
            <label for="checkbox">{{ task.text }}</label>
            <button v-on:click="changeStatus">{{ labels[task.status] }}</button>
            <button class="delete" v-on:click="deleteTodo(member.id, index)">
              X
            </button>
        <!-- </template> -->
        </li>
      </ul>
    </div>
<!--    &lt;!&ndash; ToDo テーブル &ndash;&gt;-->
<!--    <table>-->
<!--        &lt;!&ndash; テーブルヘッダー &ndash;&gt;-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th class="id">誰</th>-->
<!--            <th class="comment">タイトル</th>-->
<!--            <th class="state">コメント</th>-->
<!--            <th class="button">状態</th>-->
<!--            <th class="button">-</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr v-for="item in computedTodos" v-bind:key="item.id">-->
<!--            <th>{{ item.id }}</th>-->
<!--            <td>{{ item.comment }}</td>-->
<!--            <td class="state">-->
<!--                &lt;!&ndash; 状態変更のモック &ndash;&gt;-->
<!--                <button v-on:click="doChangeState(item)">-->
<!--                    {{ labels[item.state] }}-->
<!--                </button>-->
<!--            </td>-->
<!--            <td v-on:click.meta="doRemove(item)">-->
<!--                &lt;!&ndash; 削除ボタンのモック &ndash;&gt;-->
<!--                <button>削除</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="matsuda_main.js"></script>
  </body>
</html>
