<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="main.css"/>
  <title>todo管理ツール</title>
</head>
<body>
<div class="container" id="todo">
  <h1>todo管理ツール</h1>

  <!-- todo追加 -->
  <p>todo追加</p>
  <section class="add_todo_panel">
    <select v-model="member_id">
      <option hidden value="">担当者選択</option>
      <option v-for="member in members" v-bind:value="member.id">{{ member.name }}</option>
    </select>
    <input type="text" class="text-input" placeholder="タイトル" ref="title"/>
    <input type="text" class="text-input" placeholder="内容" ref="comment"/>
    <!-- <button v-on:click="addTodo">追加</button> -->
    <button @click="addTodo">追加</button>
    <button @click="selectedDelete()">選択済みの削除</button>
  </section>

  <!-- 担当者追加 -->
  <p>担当者追加</p>
  <section class="add_person_panel">

  </section>

  <!-- 絞り込みラジオボタン -->
  <label v-for="(item, index) in status_options">
    <input type="radio" v-model="current" v-bind:value="item.value"/>{{ item.label }}
  </label>
  <span>（{{ computedTasks.length }} / {{ tasks.length }} 件を表示）</span>

  <!-- todoリスト -->
  <section class="add_person_panel" v-for="member in members">
    <table>
      <!-- テーブルヘッダー -->
      <thead>
      <tr>
        <th class="in_charge">{{ member.name }}</th>
        <th class="comment"><span v-show="member.id === 1">タイトル</span></th>
        <th class="state"><span v-show="member.id === 1">コメント</span></th>
        <th class="button"><span v-show="member.id === 1">状態</span></th>
        <th class="button"><span v-show="member.id === 1"></span></th>
      </tr>
      </thead>
      <tbody v-bind:class="`${member.id}`" v-on:dragover="allowDrop">
      <tr v-for="(task, index) in computedTasks" v-if="task.member_id === member.id"
          v-bind:draggable=true v-on:dragstart="drag" v-on:drop="drop">
        <td>
          <input type="checkbox" class="checkbox" v-model="task.checked"/>
        </td>
        <td>
          {{ task.title }}
        </td>
        <td>
          {{ task.text }}
        </td>
        <td class="state">
          <!-- 状態変更のモック -->
          <button v-on:click="changeStatus(task)">{{ labels[task.status] }}</button>
        </td>
        <td v-on:click.meta="doRemove(item)">
          <!-- 削除ボタンのモック -->
          <button class="delete" v-on:click="deleteTodo(member.id, index)">
            削除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>
